.classpath
.project
.settings/
target/
/.apt_generated/
src/main/resources/mgen/
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/application-test.yml