<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>登录</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />

<!--icon-->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/common/favicon.ico}" media="screen" />
<link rel="stylesheet"
	th:href="@{/adminlte/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/libs/font-awesome/css/font-awesome.min.css}" />

<!-- Ionicons -->
<link rel="stylesheet" th:href="@{/libs/ionicons/css/ionicons.min.css}" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/adminlte/dist/css/AdminLTE.min.css}" />

<!-- iCheck -->
<link rel="stylesheet"
	th:href="@{/adminlte/plugins/iCheck/square/red.css}" />
<link rel="stylesheet"
	th:href="@{/adminlte/plugins/bootstrap-validator/dist/css/bootstrap-validator.css}" />

</head>
<body class="hold-transition login-page">
	<div class="error-page" style="margin-top:200px;">
		<h2 class="headline text-red">500</h2>

		<div class="error-content">
			<h3>
				<i class="fa fa-warning text-red"></i> Oops! Something went wrong.
			</h3>

			<p>
				We will work on fixing that right away. Meanwhile, you may <a
					href="../../index.html">return to dashboard</a> or try using the
				search form.
			</p>

			<form class="search-form">
				<div class="input-group">
					<input type="text" name="search" class="form-control"
						placeholder="Search" />

					<div class="input-group-btn">
						<button type="submit" name="submit"
							class="btn btn-danger btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
				<!-- /.input-group -->
			</form>
		</div>
	</div>

	
	<script th:src="@{/adminlte/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script th:src="@{/adminlte/bootstrap/js/bootstrap.min.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/adminlte/plugins/iCheck/icheck.min.js}"></script>
	<!-- bootstrap-validator-->
	<script
		th:src="@{/adminlte/plugins/bootstrap-validator/dist/js/bootstrap-validator.js}"></script>
	<script type="text/javascript">
		$(function() {

			$('input').iCheck({
				checkboxClass : 'icheckbox_square-red',
				radioClass : 'iradio_square-red',
				increaseArea : '20%' // optional
			});
		});
	</script>
</body>
</html>
